/* ESTILOS GERAIS */

html {
      overflow-y: scroll;
      scroll-behavior: smooth;
}

body {
      font-family: "Work Sans";
      height: 800px;
<<<<<<< HEAD
      background-color: #FFF;
=======
      background-color: #FFF; 
>>>>>>> 6cfa408b6b2d52d62654c13c02fde5f4c3e6fd6d
}

p {
      font-family: raleway;
}

.btn {
      background-color: #63BCC2;
      border-radius: 3px;
      font-weight: normal;
      color: #FBFBFB;
      font-size: 1.2em;
}

.clear {
      clear: both;
}

html, body {
      height: 100%;
}

@font-face {
      src: url(../fonts/raleway.ttf);
      font-family: raleway;
}

input:focus, textarea:focus {
      outline: none;
}

.container-xy {
      width: 100%;
      height: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
      width: 8px;
}

/* └ Button */

::-webkit-scrollbar-button {
      height: 25px;
}

/* └ Handle */

::-webkit-scrollbar-thumb {
      background: rgb(248, 164, 164);
      border-radius: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* HEADER */

.header {
      /* position: fixed;  */
      /* top: 0;  */
      width: 100%;
      background-color: #FFF;
      padding: 10px 0;
      /* z-index: 99;  */
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.header-menu {
      text-align: right;
}

.header-menu li {
      display: inline-block;
      margin: 30px 0px 0px 25px;
}

.header-menu li a {
      color: #17171b;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 0.8em;
      padding: 10px 0;
}

.header-menu li a:hover {
      color: #E68C8C;
      transition-duration: .2s;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* INTRODUÇÃO */

.header-introducao {
      width: 100%;
      height: 100%;
      background: url("../img/cabecalho/bg-image-header-2.jpg") no-repeat;
      background-position: center;
      background-size: cover;
      /* background-attachment: fixed; */
      text-align: center;
}

.header-introducao .container {
      width: 100%;
      height: 100%;
      min-height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.header-introducao h1 {
      font-size: 64px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      text-align: center;
}

.header-introducao h1 span {
      font-size: 48px;
      display: block;
}

.header-introducao .citacao p {
      max-width: 960px;
      font-size: 18px;
      font-weight: 100;
      color: white;
      text-align: center;
      margin: 88px auto;
      line-height: 30px;
}

.citacao p::before {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: #FFF;
      margin: 0 auto 25px auto;
}

.citacao p::after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: #FFF;
      margin: 25px auto 0 auto;
}

.botao {
      margin-top: 15px;
}

.botao-header-introducao {
      padding: 15px 35px;
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      border: 1px solid linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      border-radius: 25px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 600;
      font-family: raleway;
}

.botao-header-introducao:hover {
      background: rgba(0, 0, 0, 0.0);
      color: #63BCC2;
      border: 1px solid white;
      font-size: 0.9em;
      font-weight: bolder;
      font-family: raleway;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* BIOGRAFIA */

.biografia {
      height: 100%;
      min-height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
}

.biografia .conteudo .img-biografia {
      float: left;
      width: 480px;
      height: 380px;
}

.biografia .conteudo .img-biografia img {
      width: 100%;
      margin-top: 90px;
      padding-right: 40px;
}

.biografia .conteudo .texto-biografia {
      width: 480px;
      float: right;
      border-left: 1px solid rgb(199, 199, 199);
      padding-left: 40px;
      height: 420px;
}

.biografia .conteudo .texto-biografia h1 {
      color: rgb(147, 147, 147);
      font-family: raleway;
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
}

.biografia .conteudo .texto-biografia h2 {
      font-family: raleway;
      font-size: 36px;
      color: rgb(63, 63, 63);
      font-weight: 800;
      margin-top: 7px;
      margin-bottom: 15px;
}

.biografia .conteudo .texto-biografia p {
      color: rgb(122, 122, 122);
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin-top: 30px;
      margin-bottom: 45px;
}

.biografia .conteudo .texto-biografia .biografia-button a {
      background-color: #FFF;
      border: 1px solid #63BCC2;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      color: #63BCC2;
      padding: 10px 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: raleway;
      font-size: 0.9em;
}

.biografia .conteudo .texto-biografia .biografia-button a:hover {
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      border: 1px solid linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      color: white;
      cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* SERVIÇOS */

#servicos {
      background-color: white;
      height: 100%;
      width: 100%;
}

.servicos {
      height: 100%;
      width: 100%;
      min-height: 100%;
}

/* └ CORPORAL */

.servicos .corporal {
      z-index: 10;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .corporal .bg-corporal {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-corporal.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .corporal .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .corporal .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .corporal .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .corporal:hover .bg-hover {
      margin-left: 0%;
}

/* └ MAKEUP */

.servicos .makeup {
      z-index: 9;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .makeup .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .makeup .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .makeup:hover .bg-hover {
      margin-left: 0%;
}

.servicos .makeup .bg-makeup {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-makeup.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .makeup .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

/* └ FACIAL */

.servicos .facial {
      z-index: 8;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .facial .bg-facial {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-facial.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .facial .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .facial .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .facial .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .facial:hover .bg-hover {
      margin-left: 0%;
}

/* └ SOBRANCELHA */

.servicos .sobrancelha {
      z-index: 7;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .sobrancelha .bg-sobrancelha {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-sobrancelha.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .sobrancelha .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .sobrancelha .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .sobrancelha .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .sobrancelha:hover .bg-hover {
      margin-left: 0%;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* PRODUTOS */

.produto {
      height: 100%;
      width: 100%;
      background-color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* TESTIMONIAL */

.testimonial {
      background-image: url('../img/testimonial/background-3.jpg');
      background-size: cover;
      background-position: center;
}

.testimonial .testimonial-conteudo {
      height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
}

.testimonial .testimonial-conteudo .conteudo-header {
      width: 70%;
}

.testimonial .testimonial-conteudo .conteudo-header h1 {
      font-size: 2em;
      font-weight: 600;
      text-transform: unset;
      text-align: center;
      margin-bottom: 20px;
}

.testimonial .testimonial-conteudo .conteudo-header p {
      font-size: 1em;
      text-align: center;
      color: #5b596b;
      line-height: 18px;
      margin-bottom: 40px;
}

.testimonial .testimonial-conteudo .icon-testimonial {
      width: 56px;
      margin-bottom: 40px;
}

.testimonial .testimonial-conteudo .box-clientes {
      display: flex;
      display: -webkit-flex;
      align-items: baseline;
      -webkit-align-items: baseline;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center;
}

.testimonial .testimonial-conteudo .box-clientes .cliente {
      float: left;
      width: 25%;
      text-align: center;
      padding: 10px 15px;
}

.testimonial .testimonial-conteudo .box-clientes .cliente:hover {
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
      -moz-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
      box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
      transition-duration: .5s;
      cursor: pointer;
}

.testimonial .testimonial-conteudo .box-clientes .cliente .avatar-cliente {
      width: 96px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.6);
      -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.6);
      box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.6);
      border: 0.1em solid rgb(255, 188, 188);
      margin-bottom: 30px;
}

.testimonial .testimonial-conteudo .box-clientes .cliente span {
      display: block;
}

.testimonial .testimonial-conteudo .box-clientes .cliente .nome {
      font-size: 0.9em;
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
}

.testimonial .testimonial-conteudo .box-clientes .cliente .tipo {
      display: block;
      font-size: 0.7em;
      color: #73727c;
      font-weight: 400;
      margin-bottom: 10px;
}

.testimonial .testimonial-conteudo .box-clientes .cliente .icon-cliente {
      width: 16px;
      margin-bottom: 10px;
}

.testimonial .testimonial-conteudo .box-clientes .cliente .citacao-cliente {
      font-size: 0.7em;
      color: #73727c;
      line-height: 15px;
}

.testimonial .testimonial-conteudo .box-clientes .cliente .cinco-estrelas {
      width: 72px;
      margin-top: 30px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTATO */

.contato {
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
}

.contato .contato-conteudo {
      height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
}

/* └ CONTEUDO ESQUERDO */

.contato .contato-conteudo .conteudo-esquerdo {
      float: left;
      width: 60%;
      padding-right: 20px;
}

.contato .contato-conteudo .conteudo-esquerdo h1 {
      font-size: 2.2em;
      font-weight: 600;
      font-family: raleway;
      text-transform: capitalize;
      color: #FFF;
}

.contato .contato-conteudo .conteudo-esquerdo h1::after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: rgb(248, 163, 163);
      margin-top: 10px;
}

.contato .contato-conteudo .conteudo-esquerdo p {
      color: #FFF;
      margin-top: 20px;
      line-height: 20px;
      font-size: 0.9em;
      font-family: "Open Sans";
      font-weight: 300;
}

.contato .contato-conteudo .conteudo-esquerdo form {
      width: 100%;
      margin-top: 60px;
}

.contato .contato-conteudo .conteudo-esquerdo input[type=text], input[type=tel], input[type=email], input[type=submit] {
      background-color: rgba(255, 255, 255, 0.0);
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      padding: 13px 45px;
      color: rgba(255, 255, 255, 0.7);
      font-family: "Open Sans";
      font-size: 0.8em;
      box-sizing: border-box;
}

.contato .contato-conteudo .conteudo-esquerdo .nome {
      width: 36%;
      margin-right: 3%;
      margin-bottom: 15px;
      background: url(../img/contato/nome-input.png) no-repeat center;
      background-size: 15px;
      background-position-x: 15px;
}

.contato .contato-conteudo .conteudo-esquerdo .sobre-nome {
      width: 60%;
      background: url(../img/contato/nome-input.png) no-repeat center;
      background-size: 15px;
      background-position-x: 15px;
}

.contato .contato-conteudo .conteudo-esquerdo .telefone {
      width: 36%;
      margin-right: 3%;
      background: url(../img/contato/telefone-input.png) no-repeat center;
      background-size: 15px;
      background-position-x: 15px;
}

.contato .contato-conteudo .conteudo-esquerdo .email {
      width: 60%;
      background: url(../img/contato/email-input.png) no-repeat center;
      background-size: 15px;
      background-position-x: 15px;
}

.contato .contato-conteudo .conteudo-esquerdo ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-size: 1em;
}

.contato .contato-conteudo .conteudo-esquerdo .textarea {
      background-color: rgba(255, 255, 255, 0.0);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      padding: 15px 20px;
      color: rgba(255, 255, 255, 0.7);
      font-family: raleway;
      font-size: 0.9em;
      box-sizing: border-box;
      margin-top: 15px;
      width: 100%;
      resize: none;
}

.contato .contato-conteudo .conteudo-esquerdo .submit {
      margin-top: 25px;
      font-size: 0.9em;
      padding: 10px 25px;
      color: #FBFBFB;
}

.contato .contato-conteudo .conteudo-esquerdo .submit:hover {
      background: linear-gradient(to bottom right, rgb(229, 130, 138), #E29587);
      border: 1px solid #E29587;
      cursor: pointer;
}

/* └ CONTEUDO DIREITO */

.contato .contato-conteudo .conteudo-direito {
      float: left;
      width: 40%;
      padding-left: 20px;
}

.contato .contato-conteudo .conteudo-direito .endereco {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 18px;
      margin-bottom: 20px;
}

.contato .contato-conteudo .conteudo-direito .endereco .titulo {
      display: block;
      font-size: 1.2em;
      font-weight: 600;
      color: #FFF;
      margin-bottom: 13px;
}

.contato .contato-conteudo .conteudo-direito .endereco p {
      font-size: 0.9em;
      background: url(../img/contato/maps-24x24.png) no-repeat center left;
      padding-left: 35px;
      line-height: 25px;
      color: #FFF;
      font-family: "Open Sans";
      font-weight: 300;
}

.contato .contato-conteudo .conteudo-direito .endereco p:nth-last-of-type(1) {
      background: none;
}

.contato .contato-conteudo .conteudo-direito .telefone {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 18px;
      margin-bottom: 25px;
}

.contato .contato-conteudo .conteudo-direito .telefone .titulo {
      display: block;
      font-size: 1.2em;
      font-weight: 600;
      color: #FFF;
      margin-bottom: 13px;
}

.contato .contato-conteudo .conteudo-direito .telefone p {
      font-size: 0.9em;
      background: url(../img/contato/fone-24x24.png) no-repeat center left;
      padding-left: 35px;
      line-height: 25px;
      color: #FFF;
      font-family: "Open Sans";
      font-weight: 300;
}

.contato .contato-conteudo .conteudo-direito .horario .titulo {
      display: block;
      font-size: 1.2em;
      font-weight: 600;
      color: #FFF;
      margin-bottom: 13px;
}

.contato .contato-conteudo .conteudo-direito .horario p {
      font-size: 0.9em;
      padding-left: 35px;
      line-height: 25px;
      color: #FFF;
      font-family: "Open Sans";
      font-weight: 300;
}

.contato .contato-conteudo .conteudo-direito .horario p:nth-last-of-type(3) {
      background: url(../img/contato/clock-24x24.png) no-repeat center left;
      padding-left: 35px;
      line-height: 25px;
      color: #FFF;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* FOOTER */

.footer {
      width: 100%;
      height: 280px;
      max-height: 280px;
      background: url(../img/footer/bg-footer.jpg) no-repeat;
      background-size: cover;
      background-position: top;
}

.footer .conteudo {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center;
      text-align: center;
      height: 100%;
}

.footer .conteudo .conteudo-box {
      display: flex;
      display: -webkit-flex;
      align-items: flex-stretch;
      -webkit-align-items: flex-stretch;
      align-content: stretch;
      -webkit-align-content: stretch;
      text-align: center;
      width: 100%;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
}

.footer .conteudo .box {
      width: 25%;
}

.footer .conteudo .box-1 {
      border-right: 1px solid #ccc;
}

.footer .conteudo .box-1 h3 {
      font-size: 1.2em;
      font-weight: 600;
      color: #3e3e3e;
      margin-bottom: 15px;
}

.footer .conteudo .box-1 .menu-footer {
      display: inline-block;
      text-align: left;
}

.footer .conteudo .box-1 ul li {
      margin-bottom: 10px;
      font-size: 0.9em;
}

.footer .conteudo .box-1 ul li a {
      color: #3e3e3e;
      text-transform: capitalize;
}

.footer .conteudo .box-1 ul li a:hover {
      color: #000;
}

.footer .conteudo .box-2 {
      border-right: 1px solid #ccc;
}

.footer .conteudo .box-2 h3 {
      margin-top: 5px;
      color: #3e3e3e;
      font-weight: 600;
}

.footer .conteudo .box-2 span {
      display: block;
      color: #3e3e3e;
}

.footer .conteudo .box-2 .icon-social {
      margin-top: 35px;
      margin-right: 8px;
}

.footer .conteudo .box-3 {
      text-align: left;
      padding-left: 50px;
      width: 26%;
}

.footer .conteudo .box-3 h3 {
      font-size: 1.2em;
      font-weight: 600;
      color: #3e3e3e;
      margin-bottom: 15px;
}

.footer .conteudo .box-3 span {
      display: block;
      margin-bottom: 3px;
}

.footer .conteudo .box-3 p {
      font-family: "Open Sans";
      color: #3e3e3e;
      font-size: 0.8em;
      margin-bottom: 3px;
      margin-left: 5px;
      line-height: 15px;
}

.footer .conteudo .box-3 p:nth-last-of-type(3) {
      margin-bottom: 3;
      line-height: 15px;
      font-size: 0.8em;
}

.footer .conteudo .box-3 .endereco {
      margin-bottom: 15px;
}

.footer .conteudo .box-3 .telefone {
      margin-bottom: 15px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* COPYRIGHT */

.copyright {
      text-align: center;
      background: linear-gradient(to top left, rgb(87, 135, 194), rgb(122, 195, 152));
      width: 100%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-direction: column;
}

.copyright h3 {
      display: block;
      font-family: raleway;
      font-weight: 400;
      font-size: 0.8em;
      font-weight: 500;
      color: white;
      margin: 3px 0 3px 0;
}

.copyright .hadasoftware-link {
      display: block;
      font-family: raleway;
      font-weight: 400;
      font-size: 0.8em;
      font-weight: 500;
      color: white;
      line-height: 15px;
}

.copyright .hadasoftware-link:hover, .hadasoftware-link:visited, .hadasoftware-link:active {
      font-weight: 600;
}