/* ESTILOS GERAIS */

body {
      font-family: "Work Sans";
      height: 800px;
      background-color: #FFF;
}

p {
      font-family: raleway;
}

.btn {
      background-color: #63BCC2;
      border-radius: 3px;
      font-weight: normal;
      color: #FBFBFB;
      font-size: 1.2em;
}

.clear {
      clear: both;
}

html, body {
      height: 100%;
}

@font-face {
      src: url(../fonts/raleway.ttf);
      font-family: raleway;
}

input:focus, textarea:focus{
      outline: none;
}

.container-xy {
      width: 100%;
      height: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* HEADER */
.header {
      /* position: fixed;  */
      /* top: 0;  */
      width: 100%;
      background-color: #FFF;
      padding: 10px 0;
      /* z-index: 99;  */
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.header-menu {
      text-align: right;
}

.header-menu li {
      display: inline-block;
      margin: 30px 0px 0px 30px;
}

.header-menu li a {
      color: #17171b;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 0.8em;
      padding: 10px 0;
}

.header-menu li a:hover {
      color: #E68C8C;
      border-bottom: 2px solid #E68C8C;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* INTRODUÇÃO */
.header-introducao {
      /* margin-top: 97px;  */
      width: 100%;
      height: 100%;
      background: url("../img/cabecalho/bg-image-header-2.jpg") no-repeat center;
      background-size: cover;
      text-align: center;
      /* background-position-y: 97px;  */
      /* background-attachment: fixed; */
}

.header-introducao .container{
      width: 100%;
      height: 100%;
      min-height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.header-introducao h1 {
      font-size: 64px;
      font-weight: bold;
      text-transform: uppercase;
      color: #FBFBFB;
      text-align: center;
}

.header-introducao h1 span {
      display: block;
}

.header-introducao .citacao p{
      max-width: 960px;
      font-size: 18px;
      font-weight: 100;
      color: #FBFBFB;
      text-align: center;
      margin: 88px auto;
      line-height: 30px;
}

.citacao p::before {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: #FFF;
      margin: 0 auto 25px auto;
}

.citacao p::after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: #FFF;
      margin: 25px auto 0 auto;
}

.botao {
      margin-top: 15px;
}

.botao-header-introducao {
      padding: 15px 35px;
      background-color: #63BCC2;
      border: 1px solid #63BCC2;
      border-radius: 25px;      
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 600;
      font-family: raleway;
}

.botao-header-introducao:hover {
      background-color: rgba(0, 0, 0, 0.0);
      color: #63BCC2;
      border: 1px solid white;
      font-size: 0.9em;
      font-weight: bolder;
      font-family: raleway;
      transition-duration: 500ms;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* BIOGRAFIA */
.biografia {
      height: 100%;
      min-height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
}

.biografia .conteudo .img-biografia {
      float: left;
      width: 480px;
      height: 380px;
}

.biografia .conteudo .img-biografia img {
      width: 100%;
      margin-top: 90px;
      padding-right: 40px;
}

.biografia .conteudo .texto-biografia {
      width: 480px;
      float: right;
      border-left: 1px solid rgb(199, 199, 199);
      padding-left: 40px;
      height: 420px;
}

.biografia .conteudo .texto-biografia h1 {
      color: rgb(147, 147, 147);
      font-family: raleway;
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
}

.biografia .conteudo .texto-biografia h2 {
      font-family: raleway;
      font-size: 36px;
      color: rgb(63, 63, 63);
      font-weight: 800;
      margin-top: 7px;
      margin-bottom: 15px;
}

.biografia .conteudo .texto-biografia p {
      color: rgb(122, 122, 122);
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin-top: 30px;
      margin-bottom: 45px;
}

.biografia .conteudo .texto-biografia .biografia-button a {
      background-color: #FFF;
      border: 1px solid #63BCC2;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      color: #63BCC2;
      padding: 10px 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: raleway;
      font-size: 0.9em;
}

.biografia .conteudo .texto-biografia .biografia-button a:hover {
      background-color: #63BCC2;
      color: white;
      cursor: pointer;
      transition-duration: 500ms;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* SERVIÇOS */
#servicos {
      background-color: white;
      height: 100%;
      width: 100%;
}

.servicos {
      height: 100%;
      width: 100%;
      min-height: 100%;
}

/* └ CORPORAL */
.servicos .corporal {
      z-index: 10;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .corporal .bg-corporal {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-corporal.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .corporal .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      /* background-color: #63BCC2; */
      background: linear-gradient(to top left, rgb(87, 135, 194),  rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .corporal .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .corporal .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: .7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .corporal:hover .bg-hover {
      margin-left: 0%;
}

/* └ MAKEUP */
.servicos .makeup {
      z-index: 9;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .makeup .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .makeup .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: .7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .makeup:hover .bg-hover {
      margin-left: 0%;
}

.servicos .makeup .bg-makeup {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-makeup.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .makeup .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      /* background-color: #63BCC2; */
      background: linear-gradient(to top left, rgb(87, 135, 194),  rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

/* └ FACIAL */
.servicos .facial {
      z-index: 8;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .facial .bg-facial {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-facial.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .facial .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      /* background-color: #63BCC2; */
      background: linear-gradient(to top left, rgb(87, 135, 194),  rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .facial .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .facial .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: .7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .facial:hover .bg-hover {
      margin-left: 0%;
}

/* └ SOBRANCELHA */
.servicos .sobrancelha {
      z-index: 7;
      width: 25%;
      max-width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      position: relative;
}

.servicos .sobrancelha .bg-sobrancelha {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      background: url('../img/servicos/image-sobrancelha.png') no-repeat;
      background-size: cover;
      background-position: center;
}

.servicos .sobrancelha .logo {
      height: 50%;
      max-height: 50%;
      width: 100%;
      max-width: 100%;
      /* background-color: #63BCC2; */
      background: linear-gradient(to top left, rgb(87, 135, 194),  rgb(122, 195, 152));
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .sobrancelha .logo .conteudo h1 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bolder;
      margin-bottom: 15px;
      color: white;
      font-family: raleway
}

.servicos .sobrancelha .bg-hover {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      background-color: rgba(243, 142, 142, 0.7);
      margin-left: -101%;
      transition: .7s;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
}

.servicos .sobrancelha:hover .bg-hover {
      margin-left: 0%;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* PRODUTOS */
.produto {
      height: 100%;
      width: 100%;
      background-color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* CONTATO */
.contato {
      background: linear-gradient(to top left, rgb(87, 135, 194),  rgb(122, 195, 152));
}

.contato .contato-conteudo {
      height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
}

/* └ CONTEUDO ESQUERDO */
.contato .contato-conteudo .conteudo-esquerdo {
      float: left;
      width: 60%;
      padding-right: 20px;
}

.contato .contato-conteudo .conteudo-esquerdo h1{
      font-size: 2.5em;
      font-weight: 600;
      font-family: raleway;
      text-transform: capitalize;
      color: #FFF;
}

.contato .contato-conteudo .conteudo-esquerdo h1::after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      /* background-color: #E68C8C; */
      background-color:  rgb(248, 163, 163);
      margin-top: 20px;
}

.contato .contato-conteudo .conteudo-esquerdo p {
      color: #FFF;
      margin-top: 30px;
      line-height: 20px;
      font-size: 0.9em;
}

.contato .contato-conteudo .conteudo-esquerdo form{
      width: 100%;
      margin-top: 30px;
}
.contato .contato-conteudo .conteudo-esquerdo input[type=text], input[type=tel], input[type=email], input[type=submit]{
      background-color: rgba(255, 255, 255, 0.0);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      padding: 10px 15px;
      color: rgba(255, 255, 255, 0.7);
      font-family: raleway;
      font-size: 0.9em;
      box-sizing: border-box;
}

.contato .contato-conteudo .conteudo-esquerdo .nome {
      width: 48%;
      margin-right: 3%;
      margin-bottom: 15px;
}

.contato .contato-conteudo .conteudo-esquerdo .sobre-nome {
      width: 48%;
}

.contato .contato-conteudo .conteudo-esquerdo .telefone {
      width: 48%;
      margin-right: 3%;
}

.contato .contato-conteudo .conteudo-esquerdo .email {
      width: 48%;
}

.contato .contato-conteudo .conteudo-esquerdo ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8em;
}

.contato .contato-conteudo .conteudo-esquerdo .textarea {
      background-color: rgba(255, 255, 255, 0.0);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      padding: 10px 15px;
      color: rgba(255, 255, 255, 0.7);
      font-family: raleway;
      font-size: 0.9em;
      box-sizing: border-box;
      margin-top: 15px;
      width: 100%;
      resize: none;
      overflow: hidden;
}

.contato .contato-conteudo .conteudo-esquerdo .submit {
      margin-top: 15px;
      font-size: 0.9em;
      padding: 10px 25px;
}

.contato .contato-conteudo .conteudo-esquerdo .submit:hover {
      border: 1px solid rgb(248, 163, 163);
      background-color: rgb(248, 163, 163);
      /* border: 1px solid #E68C8C; */
      /* background: #E68C8C; */
      /* background: linear-gradient(to bottom right, rgb(252, 186, 186), #D66D75); */
      cursor: pointer;
      transition-duration: 500ms;
}

/* └ CONTEUDO DIREITO */
.contato .contato-conteudo .conteudo-direito {
      float: left;
      width: 40%;

}
/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER */
.footer {
      width: 100%;
      height: 340px;
      background-color: #4f4d62;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/

/* COPYRIGHT */
.copyright {
      text-align: center;
      background-color: white;
      width: 100%;
      height: 35px;
}

.copyright h3 {
      display: inline-block;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 500;
      color: #6e6e6e;
}

.copyright img {
      display: inline-block;
      margin: 3px 30px;
}

.copyright .hadasoftware-link {
      display: inline-block;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 500;
      color: #6e6e6e;
}

.copyright .hadasoftware-link:hover, .hadasoftware-link:visited, .hadasoftware-link:active {
      color: #6e6e6e;
}